name: Build

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          # Set to `TargetRubyVersion` in `.rubocop.yml`
          ruby-version: '2.4'

      - name: Bundle
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Lint
        run: bundle exec rubocop

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby:
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '3.0'
        gemfile:
          - rails50.gemfile
          - rails51.gemfile
          - rails52.gemfile
          - rails60.gemfile
          - rails61.gemfile
        exclude:
          - ruby: '2.4'
            gemfile: rails60.gemfile
          - ruby: '2.4'
            gemfile: rails61.gemfile
          - ruby: '2.5'
            gemfile: rails60.gemfile
          - ruby: '2.5'
            gemfile: rails61.gemfile
          - ruby: '3.0'
            gemfile: rails50.gemfile
          - ruby: '3.0'
            gemfile: rails51.gemfile
          - ruby: '3.0'
            gemfile: rails52.gemfile

    env:
      CI: true
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup System
        run: |
          sudo apt-get update
          sudo apt-get install libsqlite3-dev

      - name: Setup Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Bundle
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Test
        run: |
          bundle exec rspec

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov: ./coverage/lcov.info

      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
